@import "components/Messenger/variables";

.messenger-input {
    position: relative;
    .ql-editor {
        border-radius: 0;
        background-color: $color-main;
        text-align: left;
        width: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        p {
            position: absolute;
            width: 100%;
            padding: 12px 4px;
            padding-right: 8px;
        }
        padding: 0;
    }
    .editor-wrapper {
        transition: max-width 0.1s linear;
        border-top: $style-border;
    }
    .ql-editor.ql-blank::before {
        padding: 0 4px;
        width: 100%;
        left: 0;
        font-style: normal;
        font-size: 14px;
        top: 50%;
        opacity: 0.9;
        transform: translate(0, -50%);
        word-wrap: initial;
        overflow: hidden;
    }
    .ql-simple {
        width: 100%;
        padding: 0 40px;
    }
    .ql-simple .ql-container {
        width: 100%;
        height: 50px;
    }
    .icon {
        position: absolute;
        top: 50%;
        width: 25px;
        height: 25px;
        transform: translate(0, -50%);
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
        &-attachment {
            left: 10px;
            opacity: 0.7;
        }
        &-send {
            filter: invert(72%) sepia(44%) saturate(4344%) hue-rotate(175deg) brightness(89%) contrast(90%);
            right: 10px;
        }
    }
    .uploads {
        position: absolute;
        top: -30px;
        background-color: $color-main;
        border-radius: 8px;
        box-shadow: 0 0 2px 0 grey;
        padding: 4px;
        margin-left: 5px;
    }
}