.button {
    background: none;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;

    img {
        width: 50px;
    }

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}