
:export {
    linkColor: $color-link-background;
}

.sidebar {
    font-size: 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $zindex-utility;

    .window-button {
        left: 10px;
        top: 10px;

        img {
            width: 40px;
        }
    }

    &__wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 50px;
        left: 0;

        width: 150px;
        max-height: 90vh;
        visibility: visible;
        display: block;
        transition: transform 0.2s linear, visibility 0.2s linear;

        @include custom-scrollbar;
        &::-webkit-scrollbar {
            width: 15px;
        }
    }
    
    &__inner {
        overflow:visible;
        padding: 10px 5px;
        padding-right: 20px;
        width: 150px;
        transition: all 0.2s linear;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    &__item:not(:last-child) {
        position: relative;
        margin-bottom: 4px;
    }

    &__header {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        z-index: 1;
    }

    &__btn {
        background: none;
        position: absolute;
        left: 5px;
        top: 5px;
        border: 0;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        img {
            width: 50px;
        }
    }

    &__open {
        left: 10px;
        top: 10px;
        
        img {
            width: 40px;
        }
    }
}

$color-sidebar-background: rgb(54, 59, 75, 0.8);

@media only screen and (max-width: 700px) {
    .sidebar {
        font-size: 20px;

        &__wrapper {
            top: 0;
            height: 100vh;
            max-height: 100vh;
            background-color: $color-sidebar-background;
            width: 200px;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
        
        &__inner {
            position: absolute;
            top: 50px;
            overflow:visible;
            width: 200px;
            gap: 20px;
            padding-right: 5px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            transition: all 0.1s linear;
            overflow: hidden;

            &-wrapper {
                overflow: hidden;
            }
        }
    }
}