
:export {
    linkColor: $color-link-background;
}

.sidebar {
    font-size: 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $zindex-utility;

    .window-button {
        left: 10px;
        top: 10px;

        img {
            width: 40px;
        }
    }

    &__wrapper {
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        top: 50px;
        left: 0;

        width: 150px;
        max-height: 90vh;
        visibility: visible;
        display: block;
        transition: transform 0.2s linear, visibility 0.2s linear;

        @include custom-scrollbar;
    }
    
    &__inner {
        overflow:visible;
        padding: 10px 5px;
        padding-right: 20px;
        width: 150px;
        transition: all 0.2s linear;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    &__item:not(:last-child) {
        position: relative;
        margin-bottom: 4px;
    }

    &__header {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        z-index: 1;
    }
    
    &__btn {
        background: none;
        position: absolute;
        left: 5px;
        top: 5px;
        border: 0;

        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        img {
            width: 50px;
        }
    }

    &__open {
        left: 10px;
        top: 10px;
        
        img {
            width: 40px;
        }
    }
}

$color-sidebar-background: rgb(54, 59, 75, 0.8);

@media only screen and (max-width: 700px) {
    .sidebar {
        font-size: 20px;

        &__wrapper {
            top: 0;
            height: 100vh;
            max-height: 100vh;
            background-color: $color-sidebar-background;
            width: 200px;

            &::-webkit-scrollbar {
                width: 0;
            }
        }
        
        &__inner {
            position: absolute;
            top: 50px;
            overflow:visible;
            width: 200px;
            gap: 20px;
            padding-right: 5px;
        }
        
        &__list {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            transition: all 0.1s linear;
            overflow: hidden;
    
            &-wrapper {
                overflow: hidden;
            }
        }
        
        &__sublist {
            position: absolute;
        }
        
        &__item {
            position: relative;
        }
        
        &__link {
            display: block;
            background-color: $color-link-background;
            border-radius: 4px;
            text-align: center;
            color: black;
            text-decoration: none;
            word-wrap: break-word;
            padding: 2px;
            overflow: hidden;
    
            &:hover {
                cursor: pointer;
            }    
    
            .sidebar__sublist & {
                background-color: $color-sublist-background;
            }
    
            &--current {
                background-color: $color-current-background;
                color: $color-current-text;
    
                .sidebar__sublist & {
                    background-color: $color-current-background;
                }
            }
    
            &-btn {
                width: 15px;
                height: 100%;
                background-color: gray;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }   
        
        &__header {
            height: 50px;
        }
        
        &__btn {
            background: none;
            position: absolute;
            left: 5px;
            top: 5px;
            border: 0;
    
            &:hover {
                opacity: 0.5;
                cursor: pointer;
            }
    
            img {
                width: 50px;
            }
        }
    
        &__open {
            left: 10px;
            top: 10px;
            
            img {
                width: 40px;
            }
        }
    }
}