.messenger__sidebar {
  padding: 10px;
  background-color: wheat;

  .sidebar-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 grey;
    transition: all 0.2s linear;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    &.current {
      background-color: #d4d4d4;
    }
  }
  .title {
    margin-left: 10px;
  }

  .sidebar-container {
    margin-top: 60px;
  }

  .slider__togglers {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}