.item {
  position: relative;
  transition: opacity 0.2s linear;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;

  &__wrapper {
    &:hover.edit {
      outline: 2px dashed red;
    }
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &__img:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &__files {
    overflow: visible;

    &:hover {
      opacity: 1;
    }
  }

  &__tables {
    width: 100%;
  }

  &__files, &__tables {
    border-radius: 0;
    box-shadow: none;
  }

  &__textfields {
    box-shadow: none;
    background: none;
    background-color: white;
    padding: 5px;
    p {
      text-align: left;
    }

    &:hover {
      opacity: 1;
    }

    .item__transform {
      max-width: 40px;
      max-height: 40px;
    }
  }
}