.item {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
  z-index: $zindex-item;

  &__wrapper {
    &:hover.edit {
      outline: 2px dashed red;
    }
  }

  &__image {
    transition: opacity 0.2s linear;
  }

  &__image:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &__file {
    overflow: visible;

    &:hover {
      opacity: 1;
    }
  }

  &__table {
    width: 100%;
  }

  &__file, &__table {
    border-radius: 0;
    box-shadow: none;
  }

  &__textfield {
    box-shadow: none;
    background: none;
    background-color: white;
    padding: 5px;
    p {
      text-align: left;
    }

    &:hover {
      opacity: 1;
    }

    .item__transform {
      max-width: 40px;
      max-height: 40px;
    }
  }
}