$color-action-button: rgb(54, 59, 75);
$color-form-main: rgb(219, 228, 235);

// sidebar

$color-link-background: rgb(235, 239, 242);
$color-sublist-background: rgb(219, 225, 228);

$color-current-text: white;
$color-current-background: blue;

$border-radius-global: 8px;

$style-border: 2px solid grey;
$color-main: #fdfdfd;

@mixin mobile {
  @media screen and (max-width: 500px) {
	@content;
  }
}