
.wrapper {
    padding: 6px;

    &.edit {
        outline: 2px dashed gray;

        &:hover {
            outline: 3px dashed blue;
        }
    }
}

$color-item-background: rgb(185, 210, 252);
$color-item-hover: rgb(141, 176, 236);


.entry {
    display: flex;
    flex-direction: column;
    background-color: $color-item-background;
    text-align: center;
    box-shadow: 0 0 7px 0 grey;
    border-radius: 8px;
    transition: all 0.2s linear;
    position: relative;
    min-height: 20px;
    width: 100%;
    &:hover {
        background-color: $color-item-hover;
        cursor: pointer;
        .entry__item {
            opacity: 1;
        }
    }
}

.items {
    position: relative;
    align-content: flex-start;

    height: 100%;

    &-inner--1 {
        width: 100%
    }

    &-inner--2 {
        width: 50%
    }

    &-inner--3 {
        width: 33.3333%;
    }
}