
.message-inner {
  z-index: 2;
  background-color: #fdfdfd;
  box-shadow: 0 0 2px 0 grey;
  padding: 5px;
  border-radius: 10px;
  max-width: 80%;
  height: 100%;
}

.message > div {
  margin: 0 auto;
  justify-content: center;
  height: 100%;
}

.message-block {
  display: flex;
  margin: 10px;
  max-height: 90%;
  * {
    max-height: 100%;
  }
  &--right {
    justify-content: flex-end;
    .user-info {
      flex-direction: row-reverse;
    }
    .message {
      text-align: right;
    }
  }
  &--left {
    justify-content: flex-start;

    .message {
      text-align: left;
    }
  }
}