.modal-input {
    border: 0;
    background-color: $color-main;
    border-radius: 8px;
    width: 60%;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 20px;

    &--hide {
        display: none;
    }
}