.info {
    &__block {
        text-align: center;
    }

    &__block-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
    }

    &__block-buy {
        .action-button {
            font-size: 18px;
            max-height: 60px;
        }
    }
}