.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 10px;

    height: auto;
    max-width: 90vw;
    min-width: 30vw;
    max-height: 95vh;
    background-color: white;
    border-radius: 8px;
    overflow-y: auto;

    @media only screen and (max-width: 700px) {
        & {
            width: 95vw;
        }
    }
}

.form-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}